<div>Test</div>
<!-- <div [formGroup]="form" >
  <input type="text" formControlName="input" />
  <div>
    {{input}}
  </div>
</div> -->
<div >
  <input type="button" (click)="generate()" value="Genereer" />
  <input type="text" [(ngModel)]="input" /><input type="submit" (click)="calculate()" />
  <app-result-component [result]="result" *ngIf="result"></app-result-component>
  <p>
    {{ result | json }}
  </p>
  <p>
    Value: {{ value }}
  </p>
</div>
<div class="col-md-6 col-md-offset-3">
  <h1>Home</h1>
  <button (click)="sendMessage()">Send Message</button>
  <button (click)="clearMessage()">Clear Message</button>
</div>
<app-message-example-component></app-message-example-component>