  <div class="container">
    <div class="row">
      <div class="col">
          <h2>Stapeltellen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <input type="button" (click)="generate()" value="Nieuw" class="btn"/>
    </div>
    <div class="col-sm-6">
      <input type="number" [(ngModel)]="input" (keyup)="onKey($event)" (change)="clearResult()" class="form-control" />
    </div>
    <div class="col-sm-3">
      <input type="button" (click)="calculate()" value="Reken uit!" class="btn btn-primary" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-result-component [result]="result"></app-result-component>
    </div>
  </div>
</div>